* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    overflow-x: visible !important;
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', 'Freesans', sans-serif;
}

li {
    list-style-type: none;
}


/* header {
position: fixed;
top: 0px;
left: 0px;
right: 0px;
} */

nav {
    height: 80px;
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #ff0000;
}

.Home {
    padding-top: 20px;
    width: 300px;
    display: grid;
    grid-template-columns: 100px 100px;
}

.Home a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.Home-txt a p {
    padding-top: 35px;
}

.Home-img a img {
    max-height: 80%;
}

.search {
    height: 36px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f6f6f6;
    background-color: rgb(253, 249, 249);
}

.search .txtSearch {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
    color: #000;
    border: 0px white;
    width: calc(100% - 34px);
    height: 34px;
    padding: 0;
    padding-left: 10px;
}

.search .btn {
    align-items: center;
    border: none;
    color: #212529;
    cursor: pointer;
    width: 60px;
    height: 34px;
    background-color: #fff;
    vertical-align: top;
}


/* .search .btn:hover {
    background-color: #0a6ed3;
    color: #fff;
}*/

.login a {
    text-decoration: none;
    margin-right: 10px;
    color: #fff;
}


/* thanh menu*/

.menu {
    /* position: sticky; cố định menu
    top: 0;*/
    position: relative;
    height: 60px;
}

.menu ul {
    text-align: center;
    background-color: #dad8d8f2;
    /* padding-top: 10px;
padding-bottom: 10px; */
}

.menu ul li {
    color: #fff;
    padding-top: 10px;
    display: inline-table;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.menu ul li a {
    color: #000;
    font-weight: 700;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: white;
    color: #ff0000;
}

.menu ul li>.sub {
    display: none;
    min-width: 10px;
    position: absolute;
    z-index: 1;
}

.menu ul li:hover .sub {
    display: block;
}


/*------------------MAIN--------------*/

.main {
    background-color: #f6f6f6;
    padding-bottom: 20px;
}

.main:after {
    content: "";
    clear: both;
    display: table;
}

.main-head {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
}

.main-head::after {
    content: "";
    clear: both;
    display: table;
}

.clear {
    content: "";
    clear: both;
    display: table;
}


/* slide --------------------------------------------------*/

.slide {
    width: 70%;
    float: left;
}

.slide img {
    max-width: 100%;
    height: 360px;
    width: 917px;
}

.slide-right {
    width: 30%;
    float: left;
    line-height: 40px;
}

span img {
    max-width: 100%;
    height: 160px;
    width: 388px;
    margin-bottom: 10px;
    padding-right: 40px;
}

.title {
    display: inline-block;
    background-color: red;
    margin: 30px;
    margin-left: 45px;
    border-radius: 0;
    width: 300px;
}

.title a {
    float: left;
    text-decoration: none;
    color: #fff;
    line-height: 15px;
    padding-left: 50px;
    padding: 20px;
}

.title a p {
    font: 20px/24px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

.title::after {
    clear: both;
    content: "";
    display: block;
}

.filter-price {
    margin: 0px -2px;
    width: 32%;
    float: right;
    padding-right: 50px;
    padding-top: 40px;
}

.xemthem {
    float: right;
    padding-right: 50px;
    padding-top: 40px;
    margin-top: 30px;
}


/*.xemthem .chitiet {
    float: right;
    margin: 0px 20px;
    padding-right: 30px;
    padding-top: -30px;
}*/

.chitiet a {
    text-decoration: none;
    padding-bottom: 20px;
    padding-right: 20px;
}

.chitiet a:hover {
    color: #ff0000;
}

.filter-price .item {
    width: calc(25% - 4px);
    height: 40px;
    margin: 0px 2px;
    float: left;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    text-decoration: none;
}

a {
    color: #000;
}

.item:hover {
    background-color: red;
    color: white;
}


/*------------------------Main 2------------------------*/

.main2-pos {
    margin: 5px 20px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.main2-pos .item {
    width: calc(100% / 4 - 15px);
    float: left;
    background: #fff;
    padding: 6px 30px;
    box-sizing: border-box;
    margin: 0px 7px;
    position: relative;
    transition: 0.2s;
    border: 10px solid transparent;
}

.item a img {
    max-width: 100%;
}

.item:hover {
    border: 1px solid black;
}


/*--------------Content---------------*/

.Grid-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #f2f2f2;
    padding: 10px;
    gap: 20px;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}

.Grid-content>.ite-con {
    line-height: 50px;
}

.Grid-content>.ite-con>a>img {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    width: 240px;
    height: 260px;
}

.ite-con {
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.ite-con:hover {
    border: 1px solid #f6f6f6;
}

.ite-con img {
    padding-right: 20px;
}

.ite-con a {
    line-height: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.ite-con .ite-title {
    line-height: 20px;
}

.ip13 {
    margin: 0 0 12px;
    display: block;
    font-size: 14px;
}

.sale {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #be1e2d;
}

.giagoc {
    text-decoration-line: line-through;
    display: block;
    font-size: 12px;
    text-align: left;
    line-height: 12px;
    color: #828282;
    margin-top: 4px;
}

.price {
    position: relative;
    box-sizing: inherit;
}

.tratruoc {
    float: right;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0px;
}

.label {
    font-size: 12px;
    line-height: 12px;
    text-align: right;
    display: block;
    position: relative;
    top: 2px;
}

.priceTratruoc {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: right;
}


/* footer*/

.footer {
    height: 350px;
    background-color: #ff0000;
}

.fo {
    display: grid;
    grid-template-columns: 300px 350px 350px;
    gap: 50px;
    padding: 40px;
    padding-left: 150px;
}

.listShop {
    color: #fff;
}

.itemList a {
    text-decoration: none;
    color: #fff;
}

.fo span {
    color: #fff;
}

.scroll {
    float: right;
    padding-top: 300px;
    padding-right: 20px;
}

.scroll a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}

.fooend p {
    color: #fff;
}

.quaylai {
    padding-top: 5px;
}

.quaylai a {
    text-decoration: none;
}

.quaylai a:hover {
    color: #ff0000;
}